html {
    font-family: 'Press Start 2P', cursive;
}

.flex-box {
    text-align: center;
    /* background-image: url(../../images/Water-forOtters.png); */
    /* background-image: url(../../game/images/Water-forOtters.png);
    background-size: cover; */
}

#pixel-run {
  
    /* background-color: grey; */
}
